.epiRoot {
	@apply sticky top-0 bg-primary z-40 transition-all duration-150;
}

.root {
	@apply bg-primary-9 select-none z-100;
}

.svg {
	@apply block z-100;
	@screen sm {
		@apply content-center mx-auto;
	}
}

.stickyNav {
	position: sticky;
	z-index: 100;
	top: 0;
	backdrop-filter: saturate(180%) blur(20px);
	transition: 0.1 ease-in-out;
	&.root {
		transition: 0.1 ease-in-out;
	}
}

.navLinks div > a {
	@apply text-lg;
	@screen lg {
		@apply text-xl;
	}
}
